{{ define "data_sidebar" }}

<div id="layoutSidenav_nav">
  <nav class="sb-sidenav accordion sb-sidenav-dark" id="sidenavAccordion">
    <div class="sb-sidenav-menu">
      <div class="nav">
        <div class="sb-sidenav-menu-heading">Datasets</div>
        <hr>
        <a href="/data/peers" class="nav-link">Peers</a>
        <a href="/data/friends" class="nav-link">Friends</a>
        <a href="/data/recommendations" class="nav-link">Recommendations</a>
        <a href="/data/time_tracking" class="nav-link">Time tracking</a>
        <hr>
        <a href="/data/tasks" class="nav-link">Tasks</a>
        <a href="/data/points" class="nav-link">Transferred points</a>
        <a href="/data/xp" class="nav-link">XP</a>
        <hr>
        <a href="/data/checks" class="nav-link">Checks</a>
        <a href="/data/p2p" class="nav-link">P2P checks</a>
        <a href="/data/verter" class="nav-link">Verter's checks</a>
      </div>
    </div>
    <div class="sb-sidenav-footer">
      <div class="small">Logged in as:</div>
      Admin
    </div>
  </nav>
</div>
{{end}}
