{{ define "data_sidebar" }}

<div id="layoutSidenav_nav">
  <nav class="sb-sidenav accordion sb-sidenav-dark" id="sidenavAccordion">
    <div class="sb-sidenav-menu">
      <div class="nav">
        <div class="sb-sidenav-menu-heading">Данные</div>
        <a href="/data/peers" class="nav-link">Студенты</a>
        <a href="/data/friends" class="nav-link">Друзья</a>
        <a href="/data/recommendations" class="nav-link">Рекомендации</a>
        <a href="/data/tasks" class="nav-link">Задания</a>
        <a href="/data/xp" class="nav-link">Опыт</a>
        <a href="/data/points" class="nav-link">Поинты</a>
        <a href="/data/checks" class="nav-link">Проверки</a>
        <a href="/data/p2p" class="nav-link">Проверки p2p</a>
        <a href="/data/verter" class="nav-link">Проверки вертера</a>
        <a href="/data/time_tracking" class="nav-link">Посещаемость</a>
      </div>
    </div>
    <div class="sb-sidenav-footer">
      <div class="small">Вы вошли как:</div>
      Админ
    </div>
  </nav>
</div>
{{end}}
