{{define "add_dialog"}}
<div class="modal fade" id="addDialog" tabindex="-1" role="dialog" aria-labelledby="addDialogTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="addDialogCenterTitle">Addition</h5>
      </div>
      <div class="modal-body">
        {{range $field := .table_headers}}
        {{ if ne $field "ID"}}
        <div class="form-floating mb-3">
          <input class="form-control" id="ad{{$field}}" name="{{toLowerCase $field}}" type="text"
            placeholder="{{$field}}">
          <label for="ad{{$field}}">{{$field}}</label>
        </div>
        {{end}}
        {{end}}
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" style="min-width: 118px;" data-dismiss="modal">Cancel</button>
        <button type="button" class="btn btn-primary" style="min-width: 118px;"
          onclick="sendAddRequest('{{.endpoint}}')">Add</button>
      </div>
    </div>
  </div>
</div>

<script>
  function sendAddRequest(url) {
    const inputs = $("#addDialog input");
    const map = new Map()
    inputs.each((i, elem) => {
      map.set(elem.getAttribute('name'), elem.value)
    })
    const obj = Object.fromEntries(map)

    jQuery.ajax({
      url: url,
      method: 'POST',
      dataType: 'html',
      data: obj,
      success: function (data, textStatus, jqXHR) {
        if (jqXHR.status === 200) {
          $('#dataTable').html(data);
          $('#addDialog').modal('hide');
          inputs.each((i, elem) => {
            elem.value = ""
          })
        } else if (jqXHR.status !== 200) {
          $('#errorDialog').html(data);
          $('#errorDialog').modal('show');
        }
      },
    });
  }
</script>
{{end}}
