{{define "delete_dialog"}}
<div class="modal fade" id="deleteDialog" tabindex="-1" role="dialog" aria-labelledby="deleteDialogTitle"
  aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="deleteDialogCenterTitle">Deletion</h5>
      </div>
      <div class="modal-body">
        <p>Are you sure you want to delete the entry?</p>
        <input id="delDialogEntityID" type="hidden" name="id" value="">
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" style="min-width: 118px;" data-dismiss="modal">No</button>
        <button type="button" class="btn btn-primary" style="min-width: 118px;"
          onclick="sendDeleteRequest('{{.endpoint}}')">Yes</button>
      </div>
    </div>
  </div>
</div>

<script>
  function sendDeleteRequest(url) {
    jQuery.ajax({
      url: url + '?' + $.param({ "id": $("#delDialogEntityID").val() }),
      method: 'DELETE',
      dataType: 'html',
      success: function (data, textStatus, jqXHR) {
        if (jqXHR.status === 200) {
          $('#dataTable').html(data);
          $('#deleteDialog').modal('hide');
        } else if (jqXHR.status !== 200) {
          $("#errorDialog").html(data);
          $('#deleteDialog').modal('hide');
          $('#errorDialog').modal('show');
        }
      },
    });
  }
</script>
{{end}}
