{{define "edit_dialog"}}
<div class="modal fade" id="editDialog" tabindex="-1" role="dialog" aria-labelledby="editDialogTitle"
  aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="editDialogCenterTitle">Modification</h5>
      </div>
      <div class="modal-body">
        {{$i := 0}}
        {{range $field := .table_headers}}
        {{if eq $field "ID"}}
        <input type="hidden" name="id" value="">
        {{else if eq $i 0}}
        <div class="form-floating mb-3">
          <input class="form-control" id="ed{{$field}}" name="{{toLowerCase $field}}" type="text" disabled>
          <label for="ed{{$field}}">{{$field}}</label>
        </div>
        {{else}}
        <div class="form-floating mb-3">
          <input class="form-control" id="ed{{$field}}" name="{{toLowerCase $field}}" type="text">
          <label for="ed{{$field}}">{{$field}}</label>
        </div>
        {{end}}
        {{$i = add $i 1}}
        {{end}}
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" style="min-width: 118px;" data-dismiss="modal">Cancel</button>
        <button type="button" class="btn btn-primary" style="min-width: 118px;"
          onclick="sendUpdateRequest('{{.endpoint}}')">Modify</button>
      </div>
    </div>
  </div>
</div>

<script>
  function sendUpdateRequest(url) {
    let inputs = $("#editDialog input");
    let map = new Map()
    inputs.each(function (i, elem) {
      map.set(elem.getAttribute('name'), elem.value)
    })
    const obj = Object.fromEntries(map)

    jQuery.ajax({
      url: url,
      method: 'PUT',
      dataType: 'html',
      data: JSON.stringify(obj),
      success: function (data) {
        $('#dataTable').html(data);
        $('#editDialog').modal('hide');
      },
      error: function (jqXHR) {
        if (jqXHR.status === 500 || jqXHR.status === 400) {
          document.write(jqXHR.responseText)
        } else {
          $('#errorDialog').html(jqXHR.responseText);
          $('#errorDialog').modal('show');
        }
      }
    });
  }
</script>
{{end}}
