{{define "data_table"}}
<div class="card-header">
  <i class="fas fa-list me-1"></i>
  {{.title}}
</div>
<div class="card-body">
  <table class="table table-hover">
    <thead>
      <tr>
        <th class="align-middle">№</th>
        {{range $header := .table_headers}}
        {{if ne $header "ID"}}
        <th class="align-middle">{{$header}}</th>
        {{end}}
        {{end}}
        <th class="col-2 align-middle"></th>
      </tr>
    </thead>
    <tbody>
      {{$n := 1}}
      {{range $entity := .table_data}}
      <tr>
        <td class="align-middle">{{$n}}</td>
        {{range $i, $v := getFieldValues $entity}}
        {{$header := index $.table_headers $i}}
        {{if ne $header "ID" }}
        <td class="align-middle">{{$v}}</td>
        {{end}}
        {{end}}
        {{if eq $.table_type "function"}}
        <td class="text-end align-middle">
          <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#callDialog{{$entity.ID}}" style="min-width: 46px;"><i
              class="fa fa-play"></i>
        </td>
        {{else if eq $.table_type "data"}}
        <td class="text-end align-middle">
          <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#editDialog"
            onclick="preparePeerEditDialog('{{getFieldValues $entity}}')" style="min-width: 46px;"><i
              class="fa fa-pencil fa-fw"></i>
          </button>
          <button type="button" class="btn btn-secondary" data-toggle="modal" data-target="#deleteDialog"
            onclick="$('#delDialogEntityID').val('{{getPrimaryKeyValue $entity}}')" style="min-width: 46px;"><i
              class="fas fa-trash"></i>
          </button>
        </td>
        {{else}}
        <!-- // TODO -->
        {{end}}
      </tr>
      {{$n = add $n 1}}
      {{end}}
    </tbody>
  </table>
</div>

<script>
  function preparePeerEditDialog(data) {
    data = data.replace(/^\[+|\]+$/g, '');
    let data_array = data.split(" ");
    let inputs = $("#editDialog input");
    inputs.each(function (i, elem) {
      elem.value = data_array[i];
    })
  }
</script>
{{end}}
