{{ define "operations_sidebar" }}
<div id="layoutSidenav_nav">
  <nav class="sb-sidenav accordion sb-sidenav-dark" id="sidenavAccordion">
    <div class="sb-sidenav-menu">
      <div class="nav">
        <div class="sb-sidenav-menu-heading">Запросы</div>
        <a href="/operations" class="nav-link">Ф1</a>
        <a href="/operations" class="nav-link">Ф2</a>
        <a href="/operations" class="nav-link">Ф3</a>
        <a href="/operations" class="nav-link">Ф4</a>
        <a href="/operations" class="nav-link">Ф5</a>
        <a href="/operations" class="nav-link">Ф6</a>
        <a href="/operations" class="nav-link">Ф7</a>
        <a href="/operations" class="nav-link">Ф8</a>
        <a href="/operations" class="nav-link">Ф9</a>
        <a href="/operations" class="nav-link">Ф10</a>
        <a href="/operations" class="nav-link">Ф11</a>
        <a href="/operations" class="nav-link">Ф12</a>
        <a href="/operations" class="nav-link">Ф13</a>
        <a href="/operations" class="nav-link">Ф14</a>
        <a href="/operations" class="nav-link">Ф15</a>
        <a href="/operations" class="nav-link">Ф16</a>
        <a href="/operations" class="nav-link">Ф17</a>
        <a href="/operations" class="nav-link">Ф18</a>
        <a href="/operations" class="nav-link">Ф19</a>
        <a href="/operations" class="nav-link">Ф20</a>
        <a href="/operations" class="nav-link">Ф21</a>
        <a href="/operations" class="nav-link">Ф22</a>
        <a href="/operations" class="nav-link">Ф23</a>
        <a href="/operations" class="nav-link">Ф24</a>
        <a href="/operations" class="nav-link">Ф25</a>
      </div>
    </div>
    <div class="sb-sidenav-footer">
      <div class="small">Вы вошли как:</div>
      Админ
    </div>
  </nav>
</div>
{{end}}
