{{ define "operations_sidebar" }}
<div id="layoutSidenav_nav">
  <nav class="sb-sidenav accordion sb-sidenav-dark" id="sidenavAccordion">
    <div class="sb-sidenav-menu">
      <div class="nav">
        <div class="sb-sidenav-menu-heading">Functions</div>
        <a href="/operations" class="nav-link">F1</a>
        <a href="/operations" class="nav-link">F2</a>
        <a href="/operations" class="nav-link">F3</a>
        <a href="/operations" class="nav-link">F4</a>
        <a href="/operations" class="nav-link">F5</a>
        <a href="/operations" class="nav-link">F6</a>
        <a href="/operations" class="nav-link">F7</a>
        <a href="/operations" class="nav-link">F8</a>
        <a href="/operations" class="nav-link">F9</a>
        <a href="/operations" class="nav-link">F10</a>
        <a href="/operations" class="nav-link">F11</a>
        <a href="/operations" class="nav-link">F12</a>
        <a href="/operations" class="nav-link">F13</a>
        <a href="/operations" class="nav-link">F14</a>
        <a href="/operations" class="nav-link">F15</a>
        <a href="/operations" class="nav-link">F16</a>
        <a href="/operations" class="nav-link">F17</a>
        <a href="/operations" class="nav-link">F18</a>
        <a href="/operations" class="nav-link">F19</a>
        <a href="/operations" class="nav-link">F20</a>
        <a href="/operations" class="nav-link">F21</a>
        <a href="/operations" class="nav-link">F22</a>
        <a href="/operations" class="nav-link">F23</a>
        <a href="/operations" class="nav-link">F24</a>
        <a href="/operations" class="nav-link">F25</a>
      </div>
    </div>
    <div class="sb-sidenav-footer">
      <div class="small">Logged in as:</div>
      Admin
    </div>
  </nav>
</div>
{{end}}
