{{define "operations"}}
{{template "top" .}}
{{template "nav_bar" .}}
<div id="layoutSidenav">
  {{template "operations_sidebar" .}}
  <div id="layoutSidenav_content">
    <main>
      <div class="container-fluid p-5">
        <h1 class="display-4">SQL-запросы</h1>
        <ol class="breadcrumb mb-4">
          <li class="breadcrumb-item"><a href="/">Главная</a></li>
          <li class="breadcrumb-item active">SQL-запросы</li>
        </ol>
        <hr class="my-4">
        <div id="dataTable" class="table-responsive card mb-4">
          {{template "data_table" .}}
        </div>
      </div>
    </main>
    {{template "footer" .}}
  </div>
</div>
{{template "bottom" .}}
{{end}}
