{{define "index"}}
{{template "top" .}}
{{template "nav_bar" .}}
<div id="layoutSidenav">
  {{template "index_sidebar" .}}
  <div id="layoutSidenav_content">
    <main>
      <div class="container-fluid p-5">
        <h1 class="display-4">Info21_v2.0_Web_Go</h1>
        <p class="lead">The implementation of an intuitively comprehensible graphical interface for interacting with a
          PostgreSQL database using Gin and Gorm</p>
        <hr class="my-4">
        <h3>Features</h3>
        <ul>
          <li>Server-Side Rendering</li>
          <li>CRUD (Create, Read, Update, Delete) operations</li>
          <li>Importing and exporting data from/to <i>.csv</i> files</li>
          <li>Executing SQL queries (stored and custom) on the database through a graphical interface</li>
          <li>User action logging</li>
          <li>User-friendly interface design with an intuitive layout</li>
        </ul>
        <div class="mt-5">
          <h3>Authors</h3>
          <ul>
            <li><a class="link" href="https://github.com/dmnAlex">hsensor</a></li>
            <li><a class="link" href="https://github.com/dsnikitin">wmicha</a></li>
          </ul>
        </div>
      </div>
    </main>
    {{template "footer" .}}
  </div>
</div>
{{template "bottom" .}}
{{end}}
