{{ define "index_sidebar" }}
<div id="layoutSidenav_nav">
  <nav class="sb-sidenav accordion sb-sidenav-dark" id="sidenavAccordion">
    <div class="sb-sidenav-menu">
      <div class="nav">
        <div class="sb-sidenav-menu-heading">Sections</div>
        <a class="nav-link" href="/data">
          <div class="sb-nav-link-icon"><i class="fas fa-database"></i></div>
          Data
        </a>
        <a class="nav-link" href="/operations">
          <div class="sb-nav-link-icon"><i class="fa fa-tasks"></i></div>
          Operations
        </a>
      </div>
    </div>
    <div class="sb-sidenav-footer">
      <div class="small">Logged in as:</div>
      Admin
    </div>
  </nav>
</div>
{{end}}
